:root{
    --primary: #ffcc66;
    --secondary: #ccc;
    --danger: #ff6666;
    --info: #6699ff;
}
*{
    box-sizing: border-box;
    font-family: Lato, Arial, sans-serif;
    color: #333;
}

html,body{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.5rem 2rem;
    
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

.nav_brand{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    
    border-radius: 30% 70% 70% 30% / 30% 62% 38% 70%;
    padding: 1rem;
    background: #ff9966;
    color: #fff;
    
}

.nav_menu{
    list-style: none;
    padding: 0; 
}

.nav_menu_item{
    display: inline;
}

.nav_menu_item_link{
    text-decoration: none;
    color: inherit;
}

.nav_menu_item.secondary{
    background: var(--secondary);
    border-radius: 25px;
    padding: 0.3rem 0.6rem;
}

.nav_menu_item.primary{
    background: var(--primary);
    color: #fff;
    border-radius: 25px;
    padding: 0.3rem 0.6rem;
}

.nav_menu_item:not(:first-of-type):not(:last-of-type){
    margin:0 0.5rem;
}

.main{
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.table{
    border-collapse: collapse;
    
    width: 100%;
    text-align: center;
}

.table_item{
    border: 1px solid #333;
    padding: 0.2rem 0.3rem;
}

.table_item:first-child{
    //border: 2px solid #333;
    background: var(--secondary);
    text-align: left;
}

.link{
    text-decoration: none;
    
    position: relative;
}

.link::after{
    content: "";
    display: block;
    
    width: 100%;
    height: 0.2rem;
    
    background: var(--primary);
    
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    
    z-index: -1;
    
    transition: all ease 0.2s;
}

.link:hover::after{
    height: calc(100% + 0.2rem);
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
}

.form_label{
    padding: 0.2rem 0;
}

.form_input{
    font-weight: lighter;
    margin: 0.3rem 0;
    width: 100%;
}

.form_btn{
    font-weight: bold;
    font-size: 1rem;
    
    border: none;
    border-radius: 25px;
    
    background: var(--primary);
    color: #fff;
    
    padding: 0.3rem;
    margin: 0.5rem auto;
    
    width: 50%;
}

.form_legend{
    text-transform: uppercase;
    font-weight: lighter;
    margin: 1rem;
}

.text.center{
    text-align: center;
}

.board{
    list-style: none;
    padding: 0;
}

.board_item{
    border-radius: 25px;
    background: var(--secondary);
    padding: 1rem;
    margin: 1rem;
}

.board_btns{
    text-align: right;
    margin: 0 1rem;
}

.board_btn{
    border-radius: 25px;
    padding: 0.3rem 1rem;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    color: #fff;
}

.board_btn.info{
    background: var(--info);
}

.board_btn.danger{
    background: var(--danger);
}

.btn{
    border-radius: 25px;
    
    margin: 1rem;
    padding: 0.3rem 1rem;
    
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    color: #fff;
}

.btn.primary{
    background: var(--primary);
}

