/*Login Page*/

.bg-login-image {
	background: url("../img/basic_login.png");
	background-position: center;
 	background-size: cover;
}

.loginrow {
	height: 36rem;
}

/*Regiter Page*/

.bg-register-image {
  background: url("../img/basic_login.png");
  background-position: center;
  background-size: cover;
}

#content{
    padding-top: 2rem;
}

.chart-area{
    overflow: auto;
}

li.card{
    margin-bottom: 1rem;
}

.border-left-default{
    border-left: 0.3rem solid #9a9a9a;
}

form{
    max-width: 800px;
    margin: auto;
}